body {
  font-family: "Press Start 2P", system-ui;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

/* The screen with the game area */

.gameArea {
  position: absolute; /* Positioned absolutely within the nearest positioned ancestor */
  width: 800px;
  height: 350px;
  background: rgba(0, 0, 0, 0.6);
  top: 325px;
  border: rgba(0, 0, 0, 0.6) 10px solid;
  border-radius: 35px;
  backdrop-filter: blur(4px);
  transform: perspective(900px) rotateX(10deg) scaleX(0.44) scaleY(0.79); /* 3D transformation */
}
/* Arcade machine image */
.bg {
  position: absolute; /* Fixed position relative to the viewport */
  top: -150px; /* Position from the top */
  height: 1750px; /* Height of the image */
  z-index: -1; /* Place behind other elements */
}

/* Common Paddle Styling */
.paddle {
  height: 100px;
  width: 20px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 125px;
}

/* Specific styling for player 2's paddle */
.paddle2 {
  right: 0;
}

/* Ball styling */
.ball {
  position: absolute;
  height: 20px;
  width: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  left: 385px;
  top: 170px;
  box-shadow: 4px 10px 4px rgba(255, 255, 255, 0.2);
}

/* Net styling */
.net {
  position: absolute;
  border-right: 8px rgba(255, 255, 255, 0.3) dotted;
  height: 96%;
  top: 2%;
  left: calc(50% - 4px);
}

/* PONG title styling */
.title {
  position: absolute;
  font-size: 40px;
  background-image: linear-gradient(
    to right,
    rgb(239, 56, 56),
    rgb(77, 181, 242),
    yellow,
    rgb(77, 181, 242),
    rgb(239, 56, 56)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  cursor: default;
}

/* Common score styling */
.score {
  position: absolute;
  top: 230px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/* Specific styling for player 1's score */
.player1Score {
  left: calc(50% - 200px); /* Positioned to the left of the center */
}

/* Specific styling for player 2's score */
.player2Score {
  right: calc(50% - 200px); /* Positioned to the right of the center */
}

/* "Press any key to start" text */
.startText {
  position: absolute;
  margin: 0;
  top: 90%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-shadow: 5px 5px 0px #000, -5px -5px 0px #000;
}
